.grid.grid-flow-col.grid-cols-5.gap-6
  .col-span-1.flex-shrink-0
    .avatar
      = image_tag @book.image.variant(:cover), alt: @book.title, class: "w-full h-full object-cover rounded-lg"
    .divider
    = render 'user_list', book: @book
  .col-span-2.flex.flex-col.gap-6
    .flex.gap-2.items-center
      .card-title.text-3xl.font-bold= @book.title
      .badge.badge-soft.badge-accent= @book.genre.name
    .card-text= @book.author
    .card-text= @book.description
    .mb-4
      = link_to "楽天で見る", @book.store_url, target: :blank, class: "btn btn-soft"
    = render 'book_action_buttons', book: @book, ownership: @ownership, interest: @interest
    - if @book.average_rating.present?
      = render 'books/average_rating', book: @book
    .divider
    .text-xl.font-bold.mb-4 コメント一覧
    - @book.comments.each do |comment|
      = render 'books/comments/comment', comment: comment, book: @book
  .col-span-2.flex.flex-col.gap-4
    - if current_user.having?(@book)
      .card.shadow-md.w-96
        .card-body
          .card-title.text-xl.font-bold.mb-4 持っている本の評価
          = render 'ownerships/ratings/form', ownership: @ownership, rating_form: @rating_form, rating: @rating
    .collapse.collapse-plus.bg-base-200.w-96.p-3
      %input{ type: "checkbox" }
      .collapse-title.font-semibold コメントを書く
      .collapse-content
        = render 'books/comments/form', comment: @comment, book: @book
