.flex.justify-center
  .card.bg-base-100.shadow-xl.w-full.max-w-lg.h-full
    .card-body
      %h2 パスワードのリセット
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'flex flex-col gap-4' }) do |f|
        = f.error_notification
        = f.input :reset_password_token, as: :hidden
        = f.full_error :reset_password_token
        .form-inputs
          = f.input :password,
                    label: "New password",
                    required: true,
                    autofocus: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" }
          = f.input :password_confirmation,
                    label: "Confirm your new password",
                    required: true,
                    input_html: { autocomplete: "new-password" }
        .form-actions
          = f.button :submit
      = render "users/shared/links"
