.card.shadow-md.w-96.mb-4
  .card-body
    .flex.items-center.gap-2
      = image_tag comment.user.image, alt: comment.user.name, class: 'w-8 h-8 rounded-full'
      .font-semibold= comment.user.name
    .card-text= comment.content
    .text-sm.text-gray-500= l(comment.created_at, format: :short)
    - if current_user.comments.exists?(comment.id)
      = button_to "削除", book_comment_path(book, comment),
                  method: :delete,
                  data: { turbo_confirm: '削除しますか?' },
                  class: "btn btn-sm btn-secondary float-right"
